/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: antiquewhite;
    margin-bottom: 40px;
}

.logo { width: 80px; }

.util ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}

.navbar {
    width: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    margin-right: 15px;
}

.nav-right {
    margin-left: 15px;
} */